<section class="full">
    <div class="[ inner-wrapper ] [ sf-flow ]">
         <figure class="[ full-bleed ] [ feature-figure ]">
            <img
            src="https://source.unsplash.com/e_DmszdpETY/1200x600"
            srcset="https://source.unsplash.com/e_DmszdpETY/2400x1200 2400w,
                    https://source.unsplash.com/e_DmszdpETY/1400x700 1400w,
                    https://source.unsplash.com/e_DmszdpETY/1200x600 1200w,
                    https://source.unsplash.com/e_DmszdpETY/800x400 800w,
                    https://source.unsplash.com/e_DmszdpETY/600x300 600w"
            sizes="100vw"
            alt="low-angle photography of trees"
            />
            {# <figcaption>A full bleed image, using the same utility - Photo by Jonathan Borba on Unsplash</figcaption> #}
  </figure>
    </div>
  </section>